<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xna_metrobus.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xna_metrobus.Ayar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="xna_metrobus.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="xna_metrobus.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xna_metrobus.AppSettings>
        </xna_metrobus.AppSettings>
    </applicationSettings>
    <userSettings>
        <xna_metrobus.Ayar>
            <setting name="FrekansSn" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SimulasyonHizi" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ToplamOtobusSayisi" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DuraktaBeklemeSuresi" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EkranGenisligi" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="EkranYuksekligi" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MaxOtobusHiziKmSaat" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="OtobusHizlanmaIvmesi" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OtobusYavaslmaIvmesi" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>40</value>
            </setting>
        </xna_metrobus.Ayar>
        <xna_metrobus.Settings1>
            <setting name="Frekans" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Deneme" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="Ddd" serializeAs="String">
                <value>kaptan</value>
            </setting>
            <setting name="abc_def" serializeAs="String">
                <value />
            </setting>
        </xna_metrobus.Settings1>
        <xna_metrobus.AppSettings>
            <setting name="deneme" serializeAs="String">
                <value>denemeee</value>
            </setting>
        </xna_metrobus.AppSettings>
    </userSettings>
</configuration>